GEMINI_API_KEY=
PINECONE_API_KEY=

PINECONE_INDEX_NAME=employee-buddy-poc
PINECONE_NAMESPACE=employees
PINECONE_CLOUD=aws
PINECONE_REGION=us-east-1

GOOGLE_EMBEDDING_MODEL=gemini-embedding-001
GEMINI_MODEL=gemini-2.5-flash
EMBEDDING_DIMENSIONS=768
SEMANTIC_SCORE_THRESHOLD=0.72

DEMO_MODE=false
